<div class="title-card">
    <div>
       
        <div class="d-flex justify-content-end" style="font-weight: 200px; font-size: large;">
         <i class="fa-solid fa-xmark">...</i>
        </div>
        <div class="d-flex justify-content-start">
            <h2 class="m-3">Check Out</h2>
        </div>
        <div>
            <h4>Payment Method</h4>
        </div>

        <div class="card m-2" style="width: 18rem;">
            <div class="form-check row">
                <label class="form-check-label col-10" for="flexCheckDefault">
                        Cash on Delivery
                </label>
              <input class="form-check-input col-2"  type="checkbox" value="" id="flexCheckDefault">
            </div>
        </div>

        <div class="card m-2" style="width: 18rem;">
            <div class="form-check row">
                 <label class="form-check-label col-10" for="flexCheckDefault">
                            Apple Pay
                </label>
                <input class="form-check-input col-2" type="checkbox" value="" id="flexCheckDefault">
                       
            </div>
        </div>

        <div class="card m-2" style="width: 18rem;">
            <div class="form-check row">
                 <label class="form-check-label col-10" for="flexCheckDefault">
                           Debit/Credit Card
                </label>
                <input class="form-check-input col-2" type="checkbox" value="" id="flexCheckDefault">
                       
            </div>
        </div>
        <div>
            <h4>Shipping Address</h4>
        </div>

        <div class="card m-2" style="width: 18rem;">
            <!-- <div class="form-check row"> -->
                <select class="form-select form-select-lg" aria-label=".form-select-lg example">
                    <option >Primary Address</option>
                   
                  </select>
            <!-- </div> -->
        </div>

        <div>
            <h4>Coupon</h4>
        </div>
        <div class="card m-2" style="width: 18rem;">
        <div class="input-group mb-3">
            
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: black; color: aliceblue;" id="basic-addon1">@</span>
              </div>
          </div>
        </div>
  

        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <div class=" row">
                    <div class="col-9">
                        <p class="">Delivery Free</p>
    
                    </div>
                    <div class="col-3">
                        <p class="">$45</p>
    
                    </div>
                </div>
            <div class=" row">
                <div class="col-4">
                    <p class="total">Total</p>

                </div>
                <div class="col-7">
                    <p class="total-price">$150</p>

                </div>
            </div>
              <a  class=" checkout ">checkout</a>
            </div>
          </div>

    </div>
</div>