<div class="title-card">
    <div>
        <div class="d-flex justify-content-end" style="font-weight: 200px; font-size: large;">
            <i class="fa-solid fa-xmark">...</i>
        </div>
        <div>
            <img src="../assets/bitmap2.png" alt="">
        </div>

        <!-- <div class="card m-3" style="width: 18rem;"> -->
            <div class="product-details" style="width: 25rem;">
            <!-- <div class="card-body"> -->
                <div class="details p-2">
                    <p class="price">$55.25</p>
                    <h4>Nike F.C. Women's Tie-Dye Football Shirt</h4>
                    <p>The Nike F.C. Shirt blends 2 summer favourites: 
                        festivals and football. Soft, sweat-wicking fabric
                         and a mesh racerback help you stay comfortable
                         on the pitch or in the crowd.</p>
                </div>
           <div class="row">
               <div class="col-5">
                <a  class=" XS">XS(UK 4-6)  ></a>
               </div>
               <div class="col-5">
                <a  class=" checkout ">checkout</a>
               </div>
           </div>
              
            </div>
         
    </div>
</div>