<div class="title-card">
    <div>
        <div class="row mt-3">
            <div class="col-10">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
            <div class="col-2" style="font-weight: 200px; font-size: large;">
                <!-- <i class="fa fa-shopping-bag" aria-hidden="true"></i> -->
                <img src="../assets/3.png" style="display: block;" alt="">
            </div>
        </div>
        <div style="position: relative;">
            <img class="img1" src="../assets/bitmap2.png" style="display: block;" alt="">
            
 
            <div class="product-details" style="width: 25rem;">
                <div class="d-flex justify-content-end" style="position: absolute; top: -10%; right: 10px;">
                    <i class="h-click fa fa-heart-o" aria-hidden="true"></i>
                </div>
                <!-- <div class="card-body"> -->
                <div class="details p-2">
                    <p class="price">$55.25</p>
                    <h4>Nike F.C. Women's Tie-Dye Football Shirt</h4>
                    <p>The Nike F.C. Shirt blends 2 summer favourites:
                        festivals and football. Soft, sweat-wicking fabric
                        and a mesh racerback help you stay comfortable
                        on the pitch or in the crowd.</p>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <a class=" XS">XS(UK 4-6) ></a>
                    </div>
                    <div class="col-6">
                        <a class=" checkout ">Add to bag</a>
                    </div>
                </div>
    
            </div>
        </div>

        <!-- <div class="card m-3" style="width: 18rem;"> -->
      

    </div>
</div>