<div class="title-card">
    <div class="img ">
        <img src="../assets/bitmap14.png" alt="">
        <div class="info">
            <div class="d-flex justify-content-end m-2" style="font-size: large;">
                <i class="fa fa-times" aria-hidden="true"></i>
               </div>
               <br>
               <div class="row ">
                    <div class="col-3" >
                        <img src="../assets/bitmap13.png" alt="">
                    </div>
                    <div class="col-8 ">
                       <h5>Tolu Arowoselu</h5>
                       <p style="color: #868686;">View Profile</p>
                    </div>
               </div>
               <br>
               <p class="border mb-5"></p>
               <br>
                 <div>
                   <div class="row">
                       <div class="col-2 icon ml-3 pb-3">
                        <i class="fa fa-home" aria-hidden="true"></i>
                       </div>
                       <div class="col-8">
                          <h5 class="font ml-2">Home</h5>
                       </div>
                   </div>
                   <div class="row mt-3">
                    <div class="col-2 icon ml-3 pb-3">
                        <i class="fa fa-user-o ml-1" aria-hidden="true"></i>
                    </div>
                    <div class="col-9">
                       <h5 class="font ml-2">Account Setting</h5>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2 icon ml-3 pb-3">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-8">
                       <h5 class="font ml-2">My Wishlist</h5>
                    </div>
                </div>
                <div class="row mt-3 ">
                    <div class="col-2 icon ml-3 pb-3">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </div>
                    <div class="col-7">
                       <h5 class="font ml-2">Orders</h5>
                    </div>
                    <div class="col-1 ">
                        <p class="mt-2 mb-0 two">2</p>
                     </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2 icon ml-3 pb-3">
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-8">
                       <h5 class="font ml-2">Support</h5>
                    </div>
                </div>
                </div>
                <div class="log-out">
                    <p >Log Out</p>
                </div>
        </div>
    </div> 
</div>
<br>
<div class="title-card">

</div>