<div class="title-card">
   <div>
       <div class="d-flex justify-content-end" style="font-weight: 200px; font-size: large;">
        <i class="fa-solid fa-xmark">x</i>
       </div>
       <div class="d-flex justify-content-start">
           <h2 class="m-3">Cart</h2>
       </div>
       <div class="card m-3" style="width: 18rem;">
            <div class="container"> 
                <div class="row">
                    <div class="col-3">
                          <img src="../assets/bitmap1.png" alt="">
                    </div>
                    <div class="col-9">
                        <p class="card-text">Nike F.C Womens Tie-Dye Football Shirt</p>
                        <div>
                            <p class="border m-3 row" ></p>
                            <div class="row">
                                <div class="col-6">
                                    <p class="Tshirt">x1</p>

                                </div>
                                <div class="col-6">
                                    <p class="price">$45</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-3" style="width: 18rem;">
            <div class="container"> 
                <div class="row">
                    <div class="col-3">
                          <img src="../assets/bitmap3.png" alt="">
                    </div>
                    <div class="col-9">
                        <p class="card-text">FC Barcelona 2019/20 Stadium Home</p>
                        <div>
                            <p class="border m-3 row" ></p>
                            <div class="row">
                                <div class="col-6">
                                    <p class="Tshirt">x2</p>

                                </div>
                                <div class="col-6">
                                    <p class="price">$125</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-3" style="width: 18rem;">
            <div class="container"> 
                <div class="row">
                    <div class="col-3">
                          <img src="../assets/bitmap4.png" alt="">
                    </div>
                    <div class="col-9">
                        <p class="card-text">Inter Milan 2020/21 Stadium Home</p>
                        <div>
                            <p class="border m-3 row" ></p>
                            <div class="row">
                                <div class="col-6">
                                    <p class="Tshirt">x3</p>

                                </div>
                                <div class="col-6">
                                    <p class="price">$54.55</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
<br>
<br>
<br>
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
            <div class=" row">
                <div class="col-3">
                    <p class="total">Total</p>

                </div>
                <div class="col-9">
                    <p class="total-price">$150</p>

                </div>
            </div>
              <a  class=" checkout ">checkout</a>
            </div>
          </div>
    </div>
</div>

<!-- <div class="card m-3" style="width: 18rem;">
             <div class="card-title" style="background-image: url('../assets/bitmap3.png');"></div>
                <div class="card-body">
                    <p class="card-text">FC Barcelona 2019/20 Stadium Home</p>
                </div>
                <div>
                    <p class="border m-3"></p>
                    <div>
                        <p class="Tshirt">xl</p>
                        <p class="price">$45</p>
                    </div>
                </div>
        </div>
          
        <div class="card m-3" style="width: 18rem;">
            <div class="card-title" style="background-image: url('../assets/bitmap4.png');"></div>
                 <div class="card-body">
                    <p class="card-text">Inter Milan 2020/21 Stadium Home    </p>
                </div>
            <div>
                <p class="border m-3"></p>
                <div>
                    <p class="Tshirt">xl</p>
                    <p class="price">$45</p>
                </div>
            </div>
        </div> -->