.title-card{
    background: white;
    /* text-align: center; */
    justify-content: center;
    display: flex;
    }

        .price{
            font-weight: 400;
        font-size: 10px;
        /* line-height: 19px; */
        letter-spacing: 0.08px;
        
        color: #B02B2B;
        
        /* position: absolute; */
        height: 19px;
        left: 87.22%;
        right: 5.56%;
        top: calc(50% - 19px/2 + 36px);
        }
        .des{
            font-size: 14px;
            font-weight: 400;
        }
    