<div class="title-card ml-4">
    <div>
        <div class="row">
            <div class="col-10">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
            <div class="col-2" style="font-weight: 200px; font-size: large;">
                <!-- <i class="fa fa-shopping-bag" aria-hidden="true"></i> -->
                <img src="../assets/3.png"  alt="">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-8">
                <h2>Women's</h2>
                <p style="color: rgb(221, 216, 216);">Football(Soccer)/Jerseys</p>
            </div>
            <div class="col-2">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="col-2">
                <!-- <i class="fa fa-sliders" aria-hidden="true"></i> -->
                <img src="../assets/6.png" style="display: block;" alt="">
            </div>
        </div>
        <div class="row">
           <div class="col-6">
            <img src="../assets/bitmap5.png" alt="">
            <p class="des">Chelsea F.C. 2020/21 Stadium Home</p>
            <p class="price">$67.86</p>
           </div>
           <div class="col-6">
            <img src="../assets/bitmap6.png" alt="">
            <p class="des"> Nike F.C. Women's Tie-Dye Football Shirt</p>
            <p class="price">$55.25</p>
           </div>
         
        </div>
        <div class="row">
            <div class="col-6">
             <img src="../assets/bitmap8.png" alt="">
             <p class="des">   Athletico Madrid 2020/21 Stadium Home</p>
             <p class="price">$67.86</p>
            </div>
            <div class="col-6">
             <img src="../assets/bitmap7.png" alt="">
             <p class="des"> Portland Thorns F.C. 2020 Stadium Away</p>
             <p class="price">$69.95</p>
            </div>
          
         </div>
         <div class="row">
            <div class="col-6">
             <img src="../assets/Bitmap9.png" alt="">
             <p class="des">  Paris Saint-Germain 2019/20 Stadium Home</p>
             <p class="price">$45</p>
            </div>
            <div class="col-6">
             <img src="../assets/bitmap10.png" alt="">
             <p class="des"> FC Barcelona 2019/20 Stadium Home</p>
             <p class="price">$45</p>
            </div>
          
         </div>
    </div>
</div>