<div class="title-card">
    <div>
        <div class="d-flex justify-content-start mt-3" style="font-weight: 200px; font-size: large;">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <br>
        <div>
            <div class="input-group rounded">
                <span >
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <input type="search" style="background-color:#f1f1f1; font-size: small;     padding-left: 60px;" class="form-control rounded" placeholder="what are you looking for?" aria-label="Search" aria-describedby="search-addon" />
                
              </div>
        </div>
<br>
        <div class="row">
            <div class="col-6">
                <p>Jersey</p>
                <div style="border:1px solid black"></div>
            </div>
            <div class="col-6">
                <p>Kits</p>
            </div>
        </div>
        <hr>
       <div class="container">
            <div class="row">
                <div class="col-2  s-icon">
                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
               
                </div>
                <div class="col-6">
                     <p>All</p>
                </div>
                <div class="col-4" style="color: #d3d3d3;">
                    <p>13,643></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-2  s-icon">
                    <i class="fa fa-futbol-o s-icon" aria-hidden="true"></i>
                </div>
                <div class="col-6">
                     <p>Football(soccer)</p>
                </div>
                <div class="col-4"  style="color: #d3d3d3;">
                    <p>3,671></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-2  s-icon">
                    <i class="fa fa-futbol-o s-icon" aria-hidden="true"></i>
               
                </div>
                <div class="col-6">
                     <p>Basketball</p>
                </div>
                <div class="col-4"  style="color: #d3d3d3;">
                    <p>2,365></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-2  s-icon">
                    <i class="fa fa-futbol-o s-icon" aria-hidden="true"></i>
               
                </div>
                <div class="col-6">
                     <p>Rugby</p>
                </div>
                <div class="col-4"  style="color: #d3d3d3;">
                    <p>2,256></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-2  s-icon">
                    <i class="fa fa-futbol-o s-icon" aria-hidden="true"></i>
               
                </div>
                <div class="col-6">
                     <p>Badminton</p>
                </div>
                <div class="col-4"  style="color: #d3d3d3;">
                    <p>1,934></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-2  s-icon">
                    <i class="fa fa-futbol-o s-icon" aria-hidden="true"></i>
               
                </div>
                <div class="col-6">
                     <p>Tennis</p>
                </div>
                <div class="col-4"  style="color: #d3d3d3;">
                    <p>1,090></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-2  s-icon">
                    <i class="fa fa-futbol-o s-icon" aria-hidden="true"></i>
               
                </div>
                <div class="col-6">
                     <p>Hockey</p>
                </div>
                <div class="col-4"  style="color: #d3d3d3;">
                    <p>978></p>
                </div>
            </div>
       </div>
    </div>
</div>